html, body{
    width: 100%;
    height: 3045px;
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    height: 3045px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.navbar{
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #1C1E53;
}
.LeftTextATag{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C1E53;
    text-decoration: none;
    width: 30%;
    height: 100%;
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.RightText{
    width: 55%;
    height: 100%;
    color: #BBBBCB;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.NavbarForm{
    height: 30px;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #1C1E53;
    color: #BBBBCB;
    font-size: 17px;
    text-decoration: none;
}
.ContactUsForm{
    background: #1C1E53;
    color: white;
    border: 2px solid lightslategray;
    border-radius: 25px;
    padding: 15px 30px;
    background-color: #1C1E53;
    color: white;
    text-decoration: none;
}

.BlogPageTop{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.BlogPageTopCenter{
    width: 80%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.BlogPageTopCenterTopText{
    font-weight: 600;
    font-size: 48px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BlogPageMother{
    width: 100%;
    height: 1650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.BlogPageBottom{
    width: 50%;
    height: 1475px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.BlogPageBottomThreeText{
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.BlogPageBottomThreeTextDiv{
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.BlogPageBottomBigText{
    font-weight: 400;
    font-size: 16px;
    width: 90%;
    margin: 30px 0px;
}

.Footer{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.FooterTop{
    width: 100%;
    height: 400px;
    background: #1C1E53;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}
.FooterTopLeft{
    width: 54%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.FooterTopLeftTop{
    width: 60%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;    
}
.FooterTopLeftBottom{
    width: 60%;
    height: 100px;
    background: #FCD980;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.FooterTopLeftBottomLeft{
    width: 45%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.FooterTopLeftBottomRight{
    width: 55%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.FooterTopRight{
    width: 46%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.FooterBottom{
    width: 100%;
    height: 100px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.FooterBottomLeft{
    width: 21%;
    height: 100px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.FooterBottomRight{
    width: 36%;
    height: 100px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.FooterBottomRightTextDiv{
    color: black;
    text-decoration: none;
    cursor: pointer;
}